body{
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

#animationContainer{
    width: 100%;
    margin-top: -10px;
}

/* Credits: https://codepen.io/minimoon/pen/XWYORjX */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    animation-name: fall, horizontalFall;
    animation-duration: 3s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
}

@keyframes fall {
    from {
        opacity: 1;
        top: -10%;
    } to { 
        opacity: 0;
        top: 20%;
    }
}

@keyframes horizontalFall {
    0%{
        transform: translateX(0);
    } 50% {
        transform: translateX(50px);
    } 100% {
        transform: translateX(0);
    }
}

#menu {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#menu button {
    background-color: transparent;
    color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu button:hover {
    color: white;
}

button img {
    z-index: 1;
    position: absolute;
    top: 10px;
    animation: show 1s forwards;
}

button:hover img {
    cursor: pointer;
    z-index: 1;
    animation: fade 1s forwards;
}

button p {
    position: relative;
    top: 75px;
    z-index: -1;
    text-decoration: underline;
    animation: blink .75s alternate infinite;
}

@keyframes blink {
    from {
        text-decoration: underline;
    } to { 
        text-decoration: none;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    } to { 
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    } to { 
        opacity: 1;
    }
}