body{
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

#animationContainer{
    width: 100%;
    margin-top: -10px;
}

/* Credits: https://codepen.io/minimoon/pen/XWYORjX */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    animation-name: fall, horizontalFall;
    animation-duration: 3s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
}

@keyframes fall {
    from {
        opacity: 1;
        top: -10%;
    } to { 
        opacity: 0;
        top: 20%;
    }
}

@keyframes horizontalFall {
    0%{
        transform: translateX(0);
    } 50% {
        transform: translateX(50px);
    } 100% {
        transform: translateX(0);
    }
}